@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

/* member.css */

/* header */
.h_top {
    background: none;
}

/* main */

/* main_visual */
#main_visual {
    justify-content: right;
    align-items: flex-end;
}

.main_v img {
    width: 100%;
    height: 100%;
}

.suv_nav {
    width: 16px;
    padding: 0 10px 0 30px;
}

.suv_nav li {
    font-size: 1rem;
    color: #ada8ae;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.suv_nav li a {
    display: inline-block;
    color: #ada8ae;
    font-size: 0.875rem;
    letter-spacing: .1em;
}

.suv_nav li::before {
    content: ">";
    display: inline-block;
    padding: 8px 0px;
}

.suv_nav li:last-child {
    margin: 0;
}

.suv_nav li:last-child::before {
    display: none;
}

/* member */
#member {
    padding: 102px 0px 196px 90px;
}

#member h2 {
    font-size: 2.0625rem;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: center;
    padding-bottom: 145px;
}

#member_box {
    padding: 0 82px;
}

.image {
    padding-right: 105px;
}

.image img {
    width: 360px;
    height: auto;
}

.text {
    padding-top: 25px;
}

.prof_box {
    padding-bottom: 12px;
    margin-bottom: 50px;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
}

.name {
    font-weight: 500;
    letter-spacing: .1em;
    padding-bottom: 8px;
}

.name span {
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 12px;
}

.position {
    font-size: 0.9375rem;
    font-weight: 500;
}

.icon a {
    display: block;
}

.icon img {
    width: 40px;
    height: 40px;
    transform: translateY(25px);
}

.detail {
    font-weight: 500;
}

.br {
    padding-bottom: 20px;
}

/* footer */
footer {
    height: 574px;
    background: url(../images/common/ul_f_bg.png) no-repeat;
    background-position: top 0px left 0px;
}

/* text_box */
#text_box {
    padding: 82px 0 55px 130px;
}

#text_box p {
    color: #ada8ae;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 2em;
}

/* totop */
#totop {
    width: 30px;
    height: 169px;
    position: relative;
    z-index: 999;
    top: 90px;
    left: 65px;
}

.f_logo {
    padding: 95px 92px 114px 0;
    text-align: right;
}

.f_logo p {
    font-size: 2.125rem;
    line-height: 1.5em;
}

small {
    display: block;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: right;
    padding-right: 24px;
}

/* ----------------------------------------------------------------------- */

/* レスポンシブ */

@media screen and (max-width:480px) {

    .wrapper {
        width: 100%;
    }

    /* main_visual */
    #main_visual {
        flex-direction: column-reverse;
    }

    .suv_nav {
        width: 100%;
        padding: 10px 0 0 30px;
        box-sizing: border-box;
    }

    .suv_nav ol {
        display: flex;
        justify-content: left;
        flex-direction: row-reverse;
        box-sizing: border-box;
    }

    .suv_nav li {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .suv_nav li::before {
        padding: 0px 8px;
    }

    .main_v {
        height: 200px;
        box-sizing: border-box;
    }

    .main_v img {
        width: 100%;
        height: 100%;
        object-position: 56%;
    }

    /* member */
    #member {
        width: 100%;
        padding: 60px 30px 100px;
        background-image: none;
        box-sizing: border-box;
    }

    #member h2 {
        padding-bottom: 40px;
    }

    /* member_box */
    #member_box {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .image {
        width: 60%;
        padding: 0;
        margin: 0 auto;
    }

    .image img {
        width: 100%;
    }

    .text {
        padding: 25px 30px 0;
    }

    .name span {
        display: block;
    }

    .icon {
        padding-right: 10px;
    }

    .detail {
        font-size: 0.875rem;
    }

    /* footer */
    #totop {
        width: 30px;
        position: relative;
        top: 0px;
        left: 30px;
        z-index: 999;
    }

    footer {
        width: 100%;
        height: auto;
        background-position: top 140px right 0px;
    }

    .f_logo {
        padding: 120px 40px 50px 0;
        box-sizing: border-box;
    }

    small {
        font-size: 0.75rem;
        text-align: center;
        padding: 0;
        padding-bottom: 5px;
        box-sizing: border-box;
    }

}